/* Universal Styles */

html{
  font-size: 14px;
}
body{
  font-family: "Open Sans", sans-serif;
}
img{
  width: 100%;
}
h2{
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}
h3{
  font-size: 1.3rem;
  font-weight: bold;
}

/* Bootstrap overrides */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  color: #399bd1;
}
.btn-primary{
  width: 11.4rem;
  padding: 1.3rem 0;
  margin-top: 2.8rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  border: 0;
}
.btn-primary:hover{
  box-shadow: 0 0 12px rgba(0,0,0,0.9);
}
.btn-primary:active{
  box-shadow: 0 0 0px rgba(0,0,0,0.5);
}

/* Slick Overrides */

.slick-slide {
  outline: none;
}

/* Jumbotron */

.jumbotron{
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  color: white;
  text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.jumbotron-bike{
  background-image: url("../images/jumbotron-bike.jpg");
}
.jumbotron-duffel{
  background-image: url("../images/jumbotron-duffel.jpg");
}
.jumbotron-beer{
  background-image: url("../images/jumbotron-beer.jpg");
}
.jumbotron-flowers{
  background-image: url("../images/jumbotron-flowers.jpg");
}
.jumbotron h1{
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
  text-transform: uppercase;
}
.jumbotron p{
  max-width: 51.3rem;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

/* Featured Project section*/
.featured-project .image-container {
  height: 19rem;
  margin-top: 20px; /* To match bootstrap header margins */
}
.image-container {
  overflow: hidden;
}
.image-container img{
  opacity: 0.7;
  transition: opacity 0.5s, transform 0.5s;
}
.image-container img:hover{
  opacity: 1;
  transform: scale(1.3);
}

.categories h3{
  color: #399bd1;
}
.categories li{
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

/* Projects section*/
.projects{
  padding-bottom: 5.85rem;
}
/* Help section*/
.help{
  text-align: center;
  padding: 5.2rem 0;
  background-color: #f3f3f3;
}
.help strong{
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}
.help p{
  max-width: 42rem;
  margin: auto;
}
